---
import Card from '../Card.astro';
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="p-4 text-xs text-muted-foreground">
    © 2024 · Crafted with <span class="text-red-500">❤️</span> in India by 
    <a 
      href="https://github.com/utkarsh-vaishnav" 
      target="_blank" 
      rel="noreferrer" 
      class="font-medium underline underline-offset-4 text-red-500"
    >
      Utkarsh
    </a>
    using Astro and Tailwind CSS.
  </div>
</Card>
