---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'

const images = [
  "/callsign.png",
  "/maclook.png",
  "/namaste.png",
  "/meditate.png",
  "/whistle.png"
];
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex h-full w-full relative">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">Welcome</h6>
        <p class="m-0 text-xl font-light">
          Hi 👋, I'm <b class="font-bold">Utkarsh Vaishnav</b>, full-stack blockchain developer with strong focus on the
          user experience, animations, and micro interactions. I love to create
          beautiful and functional interfaces, I am passionate about technology
          and I am always looking for new challenges.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>

    <!-- Image Slideshow -->
    <img
      id="changingImage"
      width="300"
      height="300"
      src={images[0]}
      class="transition-opacity duration-1000 ease-in-out opacity-100 pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none md:relative md:bottom-auto md:right-auto md:z-auto"
      alt="Profile Image"
    />
  </div>

  <script>
    let images = ["/callsign.png", "/maclook.png", "/namaste.png", "/meditate.png", "/whistle.png"];
    let index = 0;
    const imgElement = document.getElementById("changingImage");

    setInterval(() => {
      index = (index + 1) % images.length;
      imgElement.style.opacity = "0"; // Fade out

      setTimeout(() => {
        imgElement.src = images[index]; // Change image
        imgElement.style.opacity = "1"; // Fade in
      }, 500); // Delay image swap
    }, 5000);
  </script>
</Card>
