---
import Card from '../Card.astro';

const colors = [
  { name: 'Red', hex: '#FF0000' },
  { name: 'Yellow', hex: '#FFFF00' },
  { name: 'Green', hex: '#008000' },
  { name: 'Blue', hex: '#0000FF' },
];
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Choose a Color">
  <div class="class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0""></div>

  <div class="flex gap-4 justify-center items-center p-4">
    {colors.map((color) => (
      <div 
        class="w-10 h-10 rounded-full cursor-pointer border-4 transition-all"
        style={`background-color: ${color.hex}; border-color: transparent;`}
        onClick={`this.style.borderColor = '${color.hex}'`}
      ></div>
    ))}
  </div>
</Card>
